/* Header.module.css */
header {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    height: 60px;
    background-color: #333;
    color: white;
    padding: 0 20px;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration:none;
    color: white;
    background: transparent;
    border: none;
}

header .button button{
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 12px;
}

header .button button:hover {
    background-color: #45a049;
}
