/* src/components/music-page.css */

.music-page {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

.music-list {
    list-style-type: none;
    padding: 0;
}

.music-list h1 {

    margin-bottom: 20px;
    text-align: center;
}

.music-list ul {
    list-style-type: none;
}

.music-list li {
    cursor: pointer;
}

.music-item {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
}

.cover-art {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
}

.music-info h3 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.music-info p {
    margin: 0;
    font-size: 14px;
}
